* {
    border: 0px solid red;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #d2f7d9;
}
#ong{
    border-radius: 15px;
}
#pmb {
    border-radius: 20px;
}
.custom-bg-colour1 {
    background-color: #4B9B16;
}
.fw-italic {
    font-style: italic;
}
.nav-item a {
    color: white;
}
#gaeilge_desc_box {
    margin-top: 4%;
    margin-bottom: 10%;
    padding: 5%;
    min-width: 60%;
    max-width: 80%;
    background-color: white;
    border: 3px dashed #4B9B16;
}
#béarla_desc_box {
    margin-top: 2.5%;
    margin-bottom: 10%;
    padding: 5%;
    min-width: 60%;
    max-width: 80%;
    background-color: white;
    border: 3px dashed #4B9B16;
}
.indented-paragraph {
    text-indent: 20px;
}
.divider-div {
    height: 20px;
    width: 80%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    background-color: chartreuse;
}
.footer {
    padding: 10px 0;
    text-align: left;
    width: 100%;
}