body {
    padding-top: 56px;
    background-color: #d2f7d9;
}
.nav-item a {
    color: white;
}
#addresses_row {
    border: 2px solid red;
}
#gaeilge_address {
    border: 2px solid black;
}
#béarla_address {
    border: 2px solid black;
}