* {
    border: 0px solid red;
}

body {
    padding-top: 56px;
    background-color: #d2f7d9;
}
header {
    border-bottom: 10px solid green;
}
.nav-item a {
    color: white;
}
.intro-section {
    padding: 60px 0;
}
.intro-section h1 {
    font-size: 2.5rem;
}
.intro-section p {
    font-size: 1.25rem;
}
.sidebar {
    padding: 20px;
    background-color: #ffffff;
    height: 100vh;
    top: 0;
}
.sidebar h2 {
    font-size: 1.5rem;
}