* {
    border: 0px solid red;
}
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d2f7d9;
}
.language-selection {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.language-options {
    display: flex;
    align-items: center;
}
.language-selection .btn {
    box-shadow: 5px 5px black;
    border-radius: 30px;
    width: 150px;
    margin: 10px;
}
.custom-fs {
    font-style: italic;
}