body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*padding-top: 56px;*/
    background-color: #d2f7d9;
}
.nav-item a {
    color: white;
}
.custom-bg-colour1 {
    background-color: #4B9B16;
}
#language-btn:hover {
    background-color: #4B9B16;
    filter: brightness(85%);
}
.footer {
    padding: 10px 0; /* Padding top and bottom */
    text-align: left;
    width: 100%;
}